## import the tools for the project

In [1]:
import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [2]:
#setting our columns to display full values
import warnings
warnings.filterwarnings('ignore')

In [16]:
from helper import SatisfyHelper
from clean_telecom_df import CleanTelecomData

ModuleNotFoundError: No module named 'grp'

In [ ]:
CSV_PATH = "../data/data.csv"

In [ ]:
Helper = TelecomHelper()

In [ ]:
df = Helper.read_csv(CSV_PATH)

In [ ]:
pd.set_option('max_column', None)

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## import the dataset

In [12]:
data = pd.read_csv('D:/Wickie/HR_comma_sep.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [13]:
df = data

In [14]:
def convert_labels(data):
        df.columns = [column.replace(' ', '_').lower() for column in df.columns]
        return df

In [15]:
df = convert_labels(df)

NameError: name 'summary' is not defined